<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find vis_lecture)/urdf/simple_body1.urdf"/>
  <param name="robot_description" command="cat $(arg model)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" args="_use_gui:=true"/>
  <node name="rviz" pkg="rviz" type="rviz"/>
</launch>
